@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kaushan+Script&family=Lexend:wght@100;200;300;400;500;600;700;800&family=Oswald:wght@400;500;600&display=swap');

:root {
  --primary-color: rgb(13, 59, 102);
  --secondary-color: #f95738;
  --on-background: #fcfbf7;
  --off-background: #f95738;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --nav-bg-color: rgba(255, 255, 255, 0.9);
  --nav-dark-bg-color: #0d3b66;
  /* --nav-dark-bg-color: #035099; */
  --container-bg-color: rgba(255, 255, 255, 0.7);
}

html,
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--primary-color);
  font-family: Oswald, sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ee964b' fill-opacity='0.11'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Main Nav */

nav {
  position: fixed;
  width: 100vw;
  padding: 8px;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--nav-bg-color);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: all 0.4s linear;
}

nav.dark {
  background: var(--nav-dark-bg-color);
}

nav.dark a {
  color: white;
}

nav.light {
  background: var(--nav-bg-color);
}


nav a {
  margin-right: 18px;
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

nav a:last-of-type {
  margin-right: 0;
}

nav a:hover,
nav a:focus {
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 3px solid;
}

nav a.active {
  color: var(--secondary-color);
}

/* Common Section Stylings */

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

section > h4 {
  padding: 0;
  margin: 0;
  /* color: var(--secondary-color); */
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

#home,
#about,
#projects {
  padding: 0;
}

/* Home Section */

#home {
  justify-content: center;
}

h1 {
  color: var(--primary-color);
  font-family: Kaushan Script, sans-serif;
  font-size: 42px;
  padding: 0;
  margin: 0;
}

h2 {
  color: var(--primary-color);
  font-family: Kalam, sans-serif;
  font-size: 21px;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  gap: 12px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;
  font-size: 24px;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.social-icons a .fa-brands {
  color: var(--primary-color);
  cursor: pointer;
}

.social-icons a:hover .fa-brands {
  color: var(--secondary-color);
}

/* About Section */

#about {
  padding-top: 80px;
}

.about-img-container {
  height: 200px;
  width: 154px;
  border: 10px solid white;
  outline: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  margin-bottom: 24px;
  animation-name: pulsate-color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.about-img-container img {
  height: 100%;
  filter: grayscale(80%);
}

.experience-item {
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px dashed rgba(13, 59, 102, 0.2);
}

.experience-header {
  display: flex;
  justify-content: space-between;
}

.experience-title,
.experience-times {
  font-family: Lexend, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.experience-company,
.experience-times {
  color: var(--secondary-color);
  font-family: Lexend, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  opacity: 0.7;
}

.experience-item .experience-summary {
  font-size: 15px;
  line-height: 2;
}

.about-container {
  max-width: 960px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.summary-container {
  padding: 12px;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--container-bg-color);
}

.summary-container p {
  color: var(--primary-color);
  font-family: Lexend, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.4;
}

.summary-container h5 {
  font-family: Lexend, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0 16px;
}

.title-group {
  text-align: center;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.image-container {
  width: 250px;
  min-height: 270px;
  padding: 30px 24px;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  box-shadow: 5px 5px 10px 10px var(--shadow-color);
}

.image-container h2 {
  font-family: Lexend, sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 12px;
}

.image-container img {
  margin-top: 24px;
  width: 200px;
}

.image-container img#collaboration {
  width: 152px;
}

/* Project Section */

#projects {
  padding: 80px 12px 100px;
  gap: 45px;
}

.project-container {
  max-width: 960px;
  width: 100%;
  padding: 24px 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: rgba(255, 255, 255, 0.7);
}

.project-container.reverse {
  flex-direction: column-reverse;
}

.project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.project-image-container .demo-links a {
  margin: 24px 8px 48px;
  color: var(--primary-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.project-image-container .demo-links a:hover {
  color: var(--secondary-color);
}

.project-summary {
  padding: 0 12px;
  color: var(--primary-color);
  font-size: 16px;
  font-family: Lexend, sans-serif;
  font-weight: 300;
  line-height: 1.8;
  flex: 1;
}

.project-summary h4 {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.project-summary p {
  font-size: 15px;
  line-height: 2;
}

.project-summary p .emoji {
  position: absolute;
  margin-top: -9px;
  font-size: 24px;
}

.project-summary p #ctrlyr {
  margin-left: 3px;
}

.project-image {
  max-height: 290px;
  padding: 16px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 2px 5px 5px 5px var(--shadow-color);
}

.project-image img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

/* Footer */

footer {
  backdrop-filter: blur(20px);
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

footer.safari-footer {
  backdrop-filter: reset;
  background-color: white;
}

footer .link-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  min-width: 280px;
  padding: 18px 24px;
}

footer .link-container a {
  transition: all 0.4s linear;
}

footer .link-container a img {
  position: relative;
  top: 2px;
}

footer .link-container a.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

footer .link-container a:hover {
  text-decoration: none;
  color: var(--primary-color);
  transform: translateY(-1px);
}

footer .link-container a.external-link:hover img {
  filter: invert(27%) sepia(2%) saturate(2878%) hue-rotate(3deg) brightness(104%) contrast(2%);
}

/* Media Queries */

@media screen and (min-width: 520px) {
  .project-image img {
    max-width: 450px;
  }

  footer .link-container {
    width: 30%;
  }
}

@media screen and (min-width: 750px) {
  nav {
    padding: 20px;
    font-size: 20px;
  }
}

@media screen and (min-width: 920px) {
  #about,
  #projects {
    padding-top: 80px;
  }

  .project-container,
  .project-container.reverse {
    flex-direction: row;
    align-items: flex-start;
  }

  .project-summary {
    padding: 24px;
    padding-bottom: 0;
  }

  .project-summary h4 {
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  nav {
    padding: 25px;
    font-size: 24px;
  }

  nav.dark {
    font-size: 18px;
    padding: 14px;
  }

  #about,
  #projects {
    padding-top: 150px;
    /* padding-top: 24px; */
  }

  /* About Section */

  .summary-container {
    padding: 24px;
    font-size: 1.35rem;
    line-height: 1.6;
    background-color: var(--container-bg-color);
  }

  /* Projects Section */

  .project-image img {
    width: 450px;
  }

  /* Footer */

  footer {
    margin-top: 48px;
  }
}

@keyframes pulsate-color {
  0% {
    background-color: var(--secondary-color);
    outline-color: var(--secondary-color);
  }
  50% {
    background-color: #f96b06;
    outline-color: #f96b06;
  }
  100% {
    background-color: var(--secondary-color);
    outline-color: var(--secondary-color);
  }
}

